<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FOOD - Categoria (Criar)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include ('../header.ejs') %>  
<body>
    <%- include ('../menu.ejs') %>  
    <form id="create">
        <div class="form-group">
            <div class="col-auto my-5">
                <label>Nome:</label>
                <input type="text" class="form-control form-control" id="name" name="name">
            </div>
        </div>
    </form>
    <div>
        <button type="submit" id="submit" class="btn btn-primary btn-lg btn-block">Criar</button>
    </div>
<script>
    $(function() {
        $('#submit').click(function(e) {
            e.preventDefault();
            const name = $('#name').val()
            if(!name) {
                Sweetalert2.fire({
                    title: 'Erro!',
                    text: 'Preencha o nome corretamente',
                    icon: 'error',
                    confirmButtonText: 'OK'
                })
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/api/category',
                data: {name},
                success: function(s) {
                    Sweetalert2.fire({
                        title: 'Sucesso!',
                        text: 'Categoria criada com sucesso',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                    setTimeout(() => {
                        window.location.href = "/category"
                    }, 1500)
                },
                error: function(e) {
                    Sweetalert2.fire({
                        title: 'Erro!',
                        text: 'Erro ao criar categoria',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            })
        })
    });
</script>
</body>
</html>