<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Food</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include ('../header.ejs') %>  
<body>
    <%- include ('../menu.ejs') %>  
    <div class="col-4 my-4">
        <label for="exampleFormControlInput1">Procurar:</label>
        <input type="text" class="form-control form-control" id="exampleFormControlInput1" placeholder="Nome">
    </div>
    <div class="table-middle col-auto">    
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome</th>
                <th scope="col">descrição</th>
                <th scope="col">preço</th>
                <th scope="col">categoria</th>
            </tr>
            </thead>
            <tbody id="body">
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function(){
            $(document).on('click', '.del', function(){
                const id = $(this).attr('id');
                $.ajax({
                    type: 'DELETE',
                    url: `/api/food/${id}`,
                    success: function(s) {
                        Sweetalert2.fire({
                            title: 'Sucesso!',
                            text: 'Comida excluida com sucesso!',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        })
                        setTimeout(() => {
                            window.location.reload()
                        }, 1500)
                    },
                    error: function(e) {
                        if(e.status === 200) {
                            Sweetalert2.fire({
                                title: 'Sucesso!',
                                text: 'Comida excluida com sucesso!',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            })
                            setTimeout(() => {
                                window.location.reload()
                            }, 1500)
                        } else {
                            Sweetalert2.fire({
                                title: 'Erro!',
                                text: 'Erro ao excluir comida!',
                                icon: 'error',
                                confirmButtonText: 'OK'
                            })
                        }
                    }
                })
            })
            $.ajax({
                type: 'GET',
                url: '/api/food',
                success: function(s) {
                    s.data.forEach(e => {
                        $('#body').append(`<tr> <th scope="row">${e._id}</th> <td>${e.nome}</td> <td>${e.descricao}</td> <td>${e.preco}</td> <td>${e.categoria}</td> <td><a href="/edit/${e._id}" class="btn btn-danger">Edit</a></td> <td><button class="btn btn-primary del" id=${e._id} class="btn btn-primary" id=${e._id}>Delete</button></td> </tr>`)
                    })
                },
                error: function(e) {
                    Sweetalert2.fire({
                        title: 'Erro!',
                        text: 'Erro ao carregar comidas',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            })
        })
    </script>
</body>
</html>